$font-stack: Helvectia, sans-serif;
$background-color: white;

.banner {
  height: 100vh;
  margin-top: 50px;
}
.skills {
  .skill {
    margin: 2%;
    height: 100%;
  }
}
.projects-container {
  .projects {
    .project {
      width: 30%;
    }
  }
}
.contact-container {
  .contact {

  }
}